<form>
                <table>
                    <tr>
                        <td>SID</td>
                        <td><input type="text" ng-model="txtSID"/>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="text" ng-model="txtPassword"/>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button ng-click="validateUser()">Login</button>
                    </tr>
                </table>
            </form>
            Username: {{txtSID}}<br>
            Password: {{txtPassword}}<br>
            Response: {{ data }}<br>
            <br><hr>

            <button ng-click="getUserInfo()">Get user information</button>
            <div ng-show="user">
                First Name: {{user.firstName }}<br>
                Last Name: {{user.lastName}}<br>
                Email: {{user.email}}<br>
            </div>